@media screen and (width <= 1700px) {
  #projects .projects-container .card img {
    width: 5vw !important; /*!important*/
    height: auto !important;
  }
}
@media screen and (width <= 1586px) and (height <= 864px) {
  #projects .projects-container .card img {
    width: 4.5vw !important;
  }
  #projects .projects-container .card p {
    font-size: 0.9vw;
  }
  #projects .projects-container .card a {
    font-size: 12px;
  }
}
@media screen and (width <= 1500px) {
  #projects .projects-container .card {
    width: 16vw;
  }
  #projects .projects-container .card p {
    font-size: 1.25vw !important;
  }
}
@media screen and (width <= 1290px) {
  #top .inner-container .intro-text h1 {
    font-size: 12vw !important;
  }
  #top .inner-container p {
    font-size: 2.5vw !important;
  }
  #projects .projects-container .card a {
    padding: 4px 6px !important;
  }
}
@media screen and (width <= 1150px) {
  #projects .projects-container .card img {
    width: 10vw !important;
  }
}
@media screen and (width <= 1000px) {
  #top .vertical-text p {
    font-size: 3vw !important;
  }
  #about .me-img {
    position: relative !important;
  }
  #about .intro-text h1 {
    font-size: 10vw !important;
  }
  #about .intro-text p {
    position: relative !important;
  }
  #about .provide-text h1 {
    font-size: 10vw !important;
  }
  #about .provide-text p {
    position: relative !important;
  }
  #projects h1 {
    font-size: 10vw !important;
  }
  #projects .projects-container .card img {
    width: 12vw !important;
  }
  #projects .projects-container .card a {
    max-width: 90% !important;
  }
  #contact h1 {
    font-size: 10vw !important;
  }
}
@media screen and (width <= 850px) {
  #top .outer-container .oc-svg svg {
    width: 8vw !important;
    height: 8vw !important;
  }
  #top .inner-container .intro-text h1 {
    font-size: 15vw !important;
  }
  #top .inner-container p {
    font-size: 3vw !important;
  }
  #about .intro-text p {
    font-size: 2vw !important;
    max-width: 80vw !important;
  }
  #about .provide-text p {
    font-size: 2vw !important;
    max-width: 80vw !important;
  }
  #about .me-img {
    left: -1.2% !important;
    top: -2svh;
  }
  #projects .projects-container .card {
    width: 23vw;
  }
  #projects .projects-container .card img {
    width: 15vw !important;
  }
  #projects .projects-container .card p {
    font-size: 1.9vw !important;
  }
  #contact h1 {
    font-size: 12vw !important;
  }
}
@media screen and (width <= 685px) {
  #top .inner-container .intro-text h1 {
    font-size: 18vw !important;
  }
  #top .inner-container p {
    font-size: 3.3vw !important;
  }
  #projects .projects-container .card {
    width: 25vw !important;
  }
  #projects .projects-container .card img {
    width: 16vw !important;
  }
  #projects .projects-container .card p {
    font-size: 2vw !important;
  }
  #projects .projects-container .card a {
    font-size: 15px !important;
  }
  #about .text .intro-text h1 {
    font-size: 9vw !important;
  }
  #about .text .intro-text p {
    font-size: 3vw !important;
  }
  #about .text .provide-text h1 {
    font-size: 9vw !important;
  }
  #about .text .provide-text p {
    font-size: 3vw !important;
  }
  #about .me-img {
    width: 40vw !important;
    left: 0 !important;
  }
}
@media screen and (width <= 580px) {
  #top .inner-container .intro-text h1 {
    font-size: 20vw !important;
  }
  #top .inner-container p {
    font-size: 3.7vw !important;
  }
  #top .vertical-text p {
    font-size: 5vw !important;
  }
  #projects .projects-container .card {
    width: 35vw !important;
  }
  #projects .projects-container .card img {
    width: 20vw !important;
  }
  #projects .projects-container .card p {
    font-size: 2.5vw !important;
  }
  #projects .projects-container .card a {
    font-size: 18px !important;
  }
}
@media screen and (width <= 450px) {
  #top .inner-container .intro-text h1 {
    font-size: 25vw !important;
  }
  #top .inner-container p {
    font-size: 4vw !important;
    width: 60vw !important;
  }
  #projects .projects-container .card {
    width: 35vw !important;
  }
  #projects .projects-container .card img {
    width: 20vw !important;
  }
  #projects .projects-container .card p {
    font-size: 3vw !important;
  }
  #projects .projects-container .card a {
    font-size: 15px !important;
  }
}
@media screen and (width <= 428px) {
  #top {
    height: 100svh;
  }
  #top .inner-container .intro-text h1 {
    font-size: 25vw !important;
  }
  #top .inner-container p {
    font-size: 5vw !important;
  }
  #projects .projects-container .card p {
    font-size: 3.5vw !important;
  }
  #about .text .intro-text h1 {
    font-size: 11vw !important;
  }
  #about .text .intro-text p {
    font-size: 3.2vw !important;
  }
  #about .text .provide-text h1 {
    font-size: 11vw !important;
  }
  #about .text .provide-text p {
    font-size: 3.2vw !important;
  }
}/*# sourceMappingURL=mediaq.css.map */