@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
$color-orange: #ff9d6c;
$color-main: #dedede;
$color-dark: #312e2d;

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    user-select: none;
}

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: $color-main;
    scroll-behavior: smooth;
    font-family: "roboto", Arial, sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
    // height: 100vh;
    background-image: url("./img/dark-noise.png");
    background-attachment: fixed;
    background-repeat: repeat;
    margin-top: 0 !important;
}

#top {
    color: $color-orange;
    .vertical-text p {
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        transform: rotate(180deg) skew(360deg);
        text-transform: uppercase;
        position: absolute;
        left: 1vw;
        height: 100vh;
        max-width: 1vw;
        bottom: 5vh;
        font-size: 1.5vw;
        letter-spacing: 4px;
        color: $color-orange;
        font-weight: 700;
    }
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    // position: relative;
    .outer-container {
        width: 100vw;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        align-items: center;
        .oc-svg svg {
            width: 100px;
            height: 100px;
        }
    }

    .inner-container {
        position: absolute;
        top: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .intro-text {
            // position: absolute;
            display: flex;
            flex-direction: row;
            text-align: center;
            align-items: center;
            h1 {
                font-family: "Italianno", "Roboto";
                font-size: 10vw;
                color: $color-orange;

                z-index: 2;
            }
        }

        p {
            font-size: 2.5vw;
            font-weight: 100;
            width: 45vw;
            z-index: 2;
            color: $color-orange;
        }
    }

    .outer-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .code {
            margin-right: 50vw;
        }

        svg {
            width: 5vw;
        }
    }

    .nav {
        width: 100vw;
        position: absolute;
        background-color: $color-orange;
        height: 10vh;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        a {
            color: $color-dark;
            display: block;
            padding: 15px 20px;
            transition: all 350ms ease-in-out;
            border-radius: 25px;

            img {
                width: 50px;
                height: auto;
            }
        }
        a:hover {
            background-color: $color-dark;
            color: $color-orange;
        }
    }

    .divider {
        width: 2px;
        height: 90%;
        background-color: $color-dark;
    }
}

#about {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    h1 {
        color: $color-orange;
        font-family: "Italianno";
        font-size: 6vw;
        letter-spacing: 5px;
    }

    p {
        max-width: 50vw;
        color: $color-main;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 1.5vw;
    }

    .me-img {
        width: 15vw;
        height: auto;
        position: absolute;
        left: 5vw;
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            user-select: none;
        }
    }
}

#projects {
    height: 75vh;
    width: 100vw;
    background-color: $color-orange;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    h1 {
        color: $color-dark;
        font-family: "Italianno";
        font-size: 4vw;
        letter-spacing: 5px;
    }

    * {
        color: $color-dark;
    }

    .projects-container {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        .card {
            border-radius: 20px;
            background-color: $color-dark;
            width: 12.5%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            p {
                color: $color-main;
                text-align: center;
                max-width: 95%;
            }

            img {
                width: 5vw;
                height: 5vw;
            }

            a {
                display: block;
                border-radius: 25px;
                background-color: $color-orange;
                padding: 2vh 0.7vw;
                transition: all 250ms ease-in-out;
            }
            a:hover {
                box-shadow: 5px 8px 5px rgb(0, 0, 0, 0.5);
            }
        }

        .card-1,
        .card-2 {
            font-size: large;
        }

        .card-2 {
            img {
                width: 8vw;
                height: 8vw;
            }
        }
    }
}

#contact {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    h1 {
        color: $color-orange;
        font-family: "Italianno";
        font-size: 4vw;
        letter-spacing: 5px;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        a {
            display: block;
            padding: 20px 30px;
            background-color: $color-orange;
            color: $color-dark;
            border-radius: 25px;
            transition: all 250ms ease-in-out;
        }
        a:hover {
            box-shadow: 5px 8px 5px rgb(0, 0, 0, 1);
        }
    }

    #back-to-top {
        background-color: $color-dark;
        padding: 20px 50px;
        color: $color-main;
        border-radius: 10px;
        transition: all 250ms ease-in-out;
    }
    a:hover {
        box-shadow: 5px 8px 5px rgb(0, 0, 0, 0.5);
    }
}

footer {
    position: relative;
    background-color: $color-orange;
    width: 100vw;
    height: 3vh;
    p {
        color: $color-dark;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
